GetDogServiceClient/Connected Services/GetDogService/GetDogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetDogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55405/GetDogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55405/GetDogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetDogService_GetDog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDog" />
  </wsdl:message>
  <wsdl:message name="IGetDogService_GetDog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDogResponse" />
  </wsdl:message>
  <wsdl:message name="IGetDogService_GetDogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDogs" />
  </wsdl:message>
  <wsdl:message name="IGetDogService_GetDogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDogsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetDogService">
    <wsdl:operation name="GetDog">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDogService/GetDog" message="tns:IGetDogService_GetDog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDogService/GetDogResponse" message="tns:IGetDogService_GetDog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDogService/GetDogs" message="tns:IGetDogService_GetDogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDogService/GetDogsResponse" message="tns:IGetDogService_GetDogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetDogService" type="tns:IGetDogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDog">
      <soap:operation soapAction="http://tempuri.org/IGetDogService/GetDog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDogs">
      <soap:operation soapAction="http://tempuri.org/IGetDogService/GetDogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetDogService">
    <wsdl:port name="BasicHttpBinding_IGetDogService" binding="tns:BasicHttpBinding_IGetDogService">
      <soap:address location="http://localhost:55405/GetDogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>